{%extends "layout.html"%}
{%block content%}

<script>
  $(document).ready(function() {
    $(".form3").hide();
    $("#div_"+"{{vistype}}").show();
  });
</script>
<script>
  var qsas = ["{{ ','.join(qsandas) }}"];
  for (var i=0; i <= qsas.length; i++) {
    alert(qsas[i])
  }
  $(document).ready(function() {
    if ("{{vistype}}" == "pie"||"{{vistype}}" == "bar") {
      for (var i=0; i <= qsas[1]; i++) {
        $(".pbans").html("<label for='pbans"+i+"'>"+qsas[i+2]+"</label><input type='radio' name='pbans' id='pbans"+i+"' value="+i+"><br>");
      }
    }
  });
  //smol issue: when going back and forth between bar and pie charts, numbers function funny
</script>
<div class="container">
  <div class="block">
    <h3 id="changethis"> TALLY #{{id}} QUESTIONS. TYPE {{vistype}}.</h3>
    <div class="form3" id="div_scatter">
      <form action="/results" method="post">
        <input type="hidden" name="tally_id" value={{id}}>
        <p>
          {{qsandas[0]}}
          <input type="number" class= "subnum" name="x" min={{qsandas[2]}} max={{qsandas[3]}} step={{qsandas[4]}} value={{qsandas[2]}}>
          <br>{{qsandas[5]}}
          <input type="number" class= "subnum" name="x" min={{qsandas[7]}} max={{qsandas[8]}} step={{qsandas[9]}} value={{qsandas[7]}}>
        </p>
        <button type="submit">Submit!</button>
      </form>
    </div>

    <div class="form3" id="div_pie">
      <form action="/results" method="post">
        <input type="hidden" name="tally_id" value={{id}}>
        <p>
          {{qsandas[0]}}
          <div class="pbans">
          </div>
        </p>
        <button type="submit">Submit!</button>
      </form>
    </div>

    <div class="form3" id="div_bar">
      <form action="/results" method="post">
        <input type="hidden" name="tally_id" value={{id}}>
        <input type="text" name="question" class="textq" placeholder="Write your question here...">
        <br>How many options will there be?<input type="number" name="numans" class="subnum" value=3 min=2 max=10>
        <br class="maybe" name="br1">
        <input type="text" name="ans1" class="texta" placeholder="Write an option here...">
        <br class="maybe" name="br2">
        <input type="text" name="ans2" class="texta" placeholder="Write an option here...">
        <br class="maybe" name="br3">
        <input type="text" name="ans3" class="texta" placeholder="Write an option here...">
        <br class="maybe" name="br4">
        <input type="text" name="ans4" class="texta" placeholder="Write an option here...">
        <br class="maybe" name="br5">
        <input type="text" name="ans5" class="texta" placeholder="Write an option here...">
        <br class="maybe" name="br6">
        <input type="text" name="ans6" class="texta" placeholder="Write an option here...">
        <br class="maybe" name="br7">
        <input type="text" name="ans7" class="texta" placeholder="Write an option here...">
        <br class="maybe" name="br8">
        <input type="text" name="ans8" class="texta" placeholder="Write an option here...">
        <br class="maybe" name="br9">
        <input type="text" name="ans9" class="texta" placeholder="Write an option here...">
        <br class="maybe" name="br10">
        <input type="text" name="ans10" class="texta" placeholder="Write an option here...">
        <button type="submit">Next --></button>
      </form>
    </div>

    <div class="form3" id="div_histo">
      <form action="/results" method="post">
        <input type="hidden" name="tally_id" value={{id}}>
        <input type="text" name="q" class="subq" placeholder="Write your question here...">
        <br><input type="text" name="q" class="subq" placeholder="Write the label for the x-axis...">
        <p>
          What's the minimum input? <input type="number" class= "subnum" name="min" value=0>
          And maximum? <input type="number" class= "subnum" name="max" value=100><br>
          To what accuracy can the user input? (type for decimals) <input type="number" class= "subnum" name="step" value=1><br>
          How many ranges do you want to present? <input type="number" class= "subnum" name="ranges" value=10 min=5 max=20>
        </p>
        <button type="submit">Next --></button>
      </form>
    </div>
  </div>
</div>
{%endblock%}
